<script>
    $(document).ready(function() {
        $("select").formSelect();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Edit Student: <%= @student.first_name%> <%= @student.last_name%></h2>
        </div>
    </div>
    <div class="row">
        <form action="/dojos/<%= @dojo.id%>/students/<%= @student.id%>" method="POST" class="col s6">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="_method" value="patch" />
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" name="student[first_name]" value="<%= @student.first_name%>" class="validate" />
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="last_name" type="text" name="student[last_name]" value="<%= @student.last_name%>" class="validate" />
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="text" name="student[email]" value="<%= @student.email%>" class="validate" />
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select name="student[dojo_id]">
                        <option value="" disabled selected>Choose your option</option>

                        <% @dojos.each do |dojo|%>
                        <option value="<%= dojo.id %>" <%= dojo.id == @dojo.id ? 'selected' : "" %>> <%= dojo.branch %></option>
                        <% end %>
                    </select>
                    <label>Materialize Select</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Update
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12"><a href="/dojos" class="btn">Home</a> | <a href="/dojos/<%= @student.dojo_id%>/students/<%= @student.id%>" class="btn"><%= @student.first_name%></a></div>
    </div>
</div>